/bin
/gen
.project
.settings
/local.properties
/target/

/.idea/
/build
/app/build
/gradle
*.iml
.gradle
gradle.properties
gradlew
gradlew.bat
app/app-release.apk
custom.properties
projectFilesBackup/
