/bin
/gen
.project
.settings
/local.properties
/target/

/.idea/
/build
/app/build
/gradle/wrapper/gradle-wrapper.jar
*.iml
.gradle
gradlew
gradlew.bat
app/app-release.apk
custom.properties
sonarqube.properties
projectFilesBackup/
/sonarcloud
