<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.digitalcampus.mobile.learning"
    android:versionCode="57"
    android:versionName="@string/version_name">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="org.digitalcampus.mobile.learning.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="org.digitalcampus.mobile.learning.C2D_MESSAGE" />

    <application
        android:icon="@drawable/dc_logo"
        android:label="@string/app_name"
        android:theme="@style/Oppia.Theme"
        android:allowBackup="true"
        android:name="org.digitalcampus.oppia.application.MobileLearning">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="org.digitalcampus.oppia.activity.StartUpActivity"
            android:label="@string/app_name"
            android:theme="@style/Oppia.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.digitalcampus.oppia.activity.OppiaMobileActivity"
            android:label="@string/app_name"
            android:theme="@style/Oppia.ToolbarTheme.Dark">
        </activity>
        <activity
            android:name="org.digitalcampus.oppia.activity.CourseIndexActivity"
            android:label="@string/title_activity_course_index" 
            android:theme="@style/Oppia.Theme.Dark">
        </activity>
        <activity
            android:name="org.digitalcampus.oppia.activity.CourseActivity"
            android:label="@string/title_activity_course"
            android:theme="@style/Oppia.ToolbarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="org.digitalcampus.oppia.activity.DownloadActivity"
            android:label="@string/title_download_activity" />
         <activity
            android:name="org.digitalcampus.oppia.activity.TagSelectActivity"
            android:label="@string/title_tag_select_activity"
   			android:configChanges="keyboardHidden">
        </activity>
        <activity
            android:name="org.digitalcampus.oppia.activity.PrefsActivity"
            android:label="@string/title_prefs"/>
        <activity
            android:name="org.digitalcampus.oppia.activity.AboutActivity"
            android:theme="@style/Oppia.ToolbarTheme"
            android:label="@string/title_about" />
        <activity
            android:name="org.digitalcampus.oppia.activity.WelcomeActivity"
            android:theme="@style/Oppia.ToolbarTheme"
            android:label="@string/title_welcome" />
         <activity
            android:name="org.digitalcampus.oppia.activity.MonitorActivity"
            android:label="@string/title_monitor"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout" />
         <activity
            android:name="org.digitalcampus.oppia.activity.CourseMetaPageActivity"
            android:label="@string/title_course_meta" />
         <activity
            android:name="org.digitalcampus.oppia.activity.DownloadMediaActivity"
            android:label="@string/title_download_media" />
         <activity
            android:name="org.digitalcampus.oppia.activity.ScorecardActivity"
            android:theme="@style/Oppia.ToolbarTheme"
            android:label="@string/title_scorecard" />
         <activity
            android:name="org.digitalcampus.oppia.activity.SearchActivity"
            android:label="@string/search.activity_title" />
         <activity
            android:name="org.digitalcampus.oppia.activity.AppActivity"
            android:label="@string/app_name" />
         <activity
            android:name="org.digitalcampus.oppia.utils.mediaplayer.VideoPlayerActivity"
            android:label="@string/media_player_description"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <service
            android:name="org.digitalcampus.oppia.service.TrackerService"
            android:icon="@drawable/dc_logo"
            android:label="@string/service_tracker" >
        </service>

        <service
            android:name="org.digitalcampus.oppia.service.DownloadService"
            android:icon="@drawable/dc_logo"
            android:exported="false"/>

        <service
            android:name="org.digitalcampus.oppia.service.CourseIntallerService"
            android:icon="@drawable/dc_logo"
            android:exported="false"/>



		<receiver android:name="org.digitalcampus.oppia.service.TrackerScheduleReceiver" >
            <intent-filter>                
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.digitalcampus.oppia.service.TrackerStartServiceReceiver" >
        </receiver>

        //Google Cloud Messaging part
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.digitalcampus.mobile.learning" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.digitalcampus.oppia.application.AdminGCMListener"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="org.digitalcampus.oppia.service.GCMUpdatedIIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name="org.digitalcampus.oppia.service.GCMRegistrationService"
            android:exported="false">
        </service>



</application>

</manifest>
