<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>

        <!-- Device Administration API -->
        <receiver
            android:name="org.digitalcampus.oppia.application.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED"/>
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin_policies"/>
        </receiver>

    </application>

</manifest>